.homeHeader {
  background: url(http://demo.templatetrip.com/Opencart/OPC027/catalog/view/theme/OPC027/stylesheet/TemplateTrip/images/header-bg.jpg) 50% no-repeat;
  height: 480px;
  background-size: cover;
  color: #F3E5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeHeaderInner {

}

.title {
  font-size: 48px;
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.item {

}
.products {
  padding: 75px 0;
}
.productsContainer {
  margin-top: 4rem;
}