.product {
  padding:15px;
  border: 1px solid #f1f1f1;
  overflow: auto;
  position: relative;
  text-align: center;
  background-color: #fafafa;
}
.image {

}
.caption {
  margin-top: 1rem!important;
}
.captionLink {
  color: inherit;
}
.readMore {

}
.productRating {
  padding-top: 15px;
}